.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1 {
    font-size: 100px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    align-self: center;
    margin-left: 5%;
    width: 90%;
    cursor: pointer;
    color: black;
    background: white;
}
