<ul class="links">
    <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
    <li class="{% if page.url contains '/download' %} active {% endif %}"><a href="{{ "download" | absolute_url }}">Download</a></li>
    <li class="{% if page.url contains '/documentation' %} active {% endif %}"><a href="{{ "documentation" | absolute_url }}">Documentation</a></li>
    <li class="{% if page.url contains '/roadmap' %} active {% endif %}"><a href="{{ "roadmap" | absolute_url }}">Roadmap</a></li>
    <li class="{% if page.url contains '/about' %} active {% endif %}"><a href="{{ "about" | absolute_url }}">About</a></li>
    <li class="{% if page.url contains '/support' %} active {% endif %}"><a href="{{ "support" | absolute_url }}">Support</a></li>
    <li class="{% if page.url contains '/faq' %} active {% endif %}"><a href="{{ "faq" | absolute_url }}">FAQ</a></li>
  </ul>

  <ul class="icons">
    <li><a href="https://github.com/instantos" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
    <li><a href="https://discord.io/instantos" class="icon fa-discord" rel="nofollow"><span class="label">Discord</span></a></li>
    <li><a href="https://bit.ly/paperbenniyt" class="icon fa-youtube" rel="nofollow"><span class="label">YouTube</span></a></li>
    <li><a href="https://t.me/instantos" class="icon fa-telegram" rel="nofollow"><span class="label">Telegram</span></a></li>
    <li><a href="https://reddit.com/r/instantos" class="icon fa-reddit" rel="nofollow"><span class="label">Reddit</span></a></li>

  </ul>
  
